@charset "utf-8";


p{
      margin-top: 250px;
      margin-left: 300px;
      width: 1000px;
      height: 200px;
      background-color:white;
      font-size: 100px; ;
      text-align: center;
      font-style: unset;
      color: red ;
      font-weight: 100;
}
